body {
  padding-top: 72px;
}

nav.menu-main {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

nav.menu-main .menu-items {
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.5);
}

nav.menu-main .menu-title {
  line-height: 48px;
  min-height: 48px;
}

nav.menu-main .menu-title a {
  padding: 0 24px;
  text-align: right;
  text-decoration: none;
}

nav.menu-main [class^="menu"] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-main [class^="menu"] a {
  border-bottom: 1px solid #ccc;
  color: #000;
  display: inline-block;
  line-height: 48px;
  min-height: 48px;
  padding: 0 24px;
  width: 100%;
}

/* second lvl */
nav.menu-main [class^="menu"] > ul > li > ul > li > a {
  padding-left: 48px;
}

/* third lvl */
nav.menu-main [class^="menu"] > ul > li > ul > li > ul > li > a {
  padding-left: 72px;
}

nav.menu-main [class^="menu"] .current_page_item > a,
nav.menu-main [class^="menu"] .current-menu-item > a {
  background: #dcdcdc;
  color: #696969;
}

@media (min-width: 576px) {
  body {
    padding-top: 0;
  }

  nav.menu-main {
    position: static;
  }

  nav.menu-main .menu-title {
    display: none;
  }

  nav.menu-main .menu-items {
    box-shadow: none;
    display: block !important;
  }

  nav.menu-main [class^="menu"] > ul:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }

  nav.menu-main [class^="menu"] a {
    border-bottom: none;
  }

  nav.menu-main [class^="menu"] > ul > li {
    display: inline-block;
    float: left;
    position: relative;
  }

  nav.menu-main [class^="menu"] > ul > li > ul {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    width: 270px;
  }

  nav.menu-main [class^="menu"] > ul > li:hover > ul {
    display: block;
  }

  nav.menu-main [class^="menu"] > ul > li > ul a:hover {
    background: #dcdcdc;
  }

  nav.menu-main [class^="menu"] a:hover {
    background: #dcdcdc;
    text-decoration: none;
  }

  nav.menu-main [class^="menu"] .current_page_item > a:not(:hover),
  nav.menu-main [class^="menu"] .current-menu-item > a:not(:hover) {
    background: #fff;
  }

  /* second lvl */
  nav.menu-main [class^="menu"] > ul > li > ul > li > a {
    padding-left: 24px;
  }

  /* third lvl */
  nav.menu-main [class^="menu"] > ul > li > ul > li > ul > li > a {
    padding-left: 48px;
  }
}